<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283180488687-3gfsimlodgmqgcsk7dd6udu8b2cq3p86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283180488687-3gfsimlodgmqgcsk7dd6udu8b2cq3p86</string>
	<key>API_KEY</key>
	<string>AIzaSyBwqRwfHWL3nt0AmZSHL351b36Eol1iQZo</string>
	<key>GCM_SENDER_ID</key>
	<string>283180488687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-app-1a2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-app-1a2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283180488687:ios:c9c45774ad2cfd82f2881a</string>
</dict>
</plist>